[submodule "numericaltoolbox"]
	path = numericaltoolbox
	url = https://gitlab.com/gabsillis/numericaltoolbox.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "hypre"]
	path = hypre
	url = https://github.com/hypre-space/hypre.git
